.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FADADD;
    padding: 15px 30px;

}

.logo {
    width: 50px;
}

.nav-links {
    display: flex;
    gap: 120px;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

.gif {
    display: block;
    border: 5px double burlywood;
    box-shadow: 10px 10px 10px 10px rgb(222, 154, 65);
    width: auto;
    height: auto;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}  

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    text-indent: 2rem;
   
}

.container2 {
    background-color: blanchedalmond;
    border: 2px solid black;
    padding: 50px;
    max-width: 500px;
    margin-left: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.title {
    margin-top: -20px;
    text-align: center;
}

input[type="email"], input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}